<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="basePath">/home/riichi/riichi/.jda_logs</Property>
    </Properties>

    <Appenders>
        <RollingFile name="fileLogger" fileName="target/app-info.log" filePattern="target/app-info-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{DATE} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%highlight{%-5level}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=magenta, TRACE=blue}] [%style{%pid}{cyan} - %style{%d{DATE}}{cyan}] [%t] %c{1} - %highlight{%msg}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=white, DEBUG=white, TRACE=blue}%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="xyz.rieproject" level="debug" additivity="true">
            <appender-ref ref="fileLogger" level="debug" />
        </Logger>
        <Root level="info" additivity="false">
            <appender-ref ref="console" />
        </Root>
    </Loggers>
</Configuration>
